.container {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}

button{
    width: 80%;
    height: 80px;
    background-color: black;
    border-radius: 10px;
    border: none;
}

p {
    color: white;
    font-size: 38px;
    font-weight: bold;
}