.container {
    max-width: 1440px;
    margin-left: 50px;
}
.bar {
    height: 2px;
    background-color: #000;
    border: none;
}

h2 {
    margin: 8px;
}

.long {
    margin-left: 0px;
}

.none {
    display: none;
}

.titulo {
    font-size: 48px;
}

.important {
    font-size: 38px;
    color: #943032;
}