.card {
    display: grid;
    height: 280px;
    width: 168px;
    margin: 8px;
    border: 1px solid black;
}

.text {
    padding: 10%;
}

h3{
    text-align: left;
    font-size: 15px;
    justify-content: left;
    font-weight: 300;
}

p {
    margin-top: 8%;
    justify-content: left;
    font-weight: bold;
    font-size: 20px;
}

.img-backgroud {
    background-image: url('../../../../../public/piso.png');
    height: 150px;
    width: 100%;
}