<div class="container">
    <div class="input-metrics">
        <h1>Medidas: </h1>
        <div class="select-wrapper"  style="background-color: white;">
            <mat-select [(ngModel)]="selectedMeasures"
            (selectionChange)="onSelectMesures($event.value)" 
            panelClass="custom-panel-class"  style="background-color: white !important;">
                <mat-option value=0  style="background-color: white;">m</mat-option>
                <mat-option value=1 style="background-color: white;">m²</mat-option>
                <mat-option value=2  style="background-color: white;">Não Presente</mat-option>
            </mat-select>
        </div>
    </div>
    <div class="product-item">
        <h1>Precificacao: </h1>
        <div class="select-wrapper"  style="background-color: white;">
            <mat-select [(ngModel)]="selectPriceType"
            (selectionChange)="onSelectChange($event.value)" 
            panelClass="custom-panel-class"  style="background-color: white !important;">
                <mat-option value="SINGLE"  style="background-color: white;">Unitario</mat-option>
                <mat-option value="DUAL"  style="background-color: white;">Caixa</mat-option>
            </mat-select>
        </div>
        
    </div>

    
    <div class="input-prices">
        <div>
            <h1>Valor do Produto: </h1>
            <h1>R$
                <input class="input-value" 
                    type="text"
                    (input)="onInputChange($event, 'unitary')"
                    placeholder="0.00"  
                    [(ngModel)]="unitaryValue" 
                    (blur)="emitPrices()"/>
                </h1>
            <h1>Tamanho: </h1>
            <h1>
                <input class="input-value" 
                    type="text"
                    placeholder="7x190x1200"  
                    [(ngModel)]="unitaryValueMeasure" 
                    (blur)="emitMeasures()"/>
            </h1>
        </div>
        
        <div *ngIf="generatePrices()">
            <h1>Valor do Conjunto: </h1>
            <h1>R$
                <input class="input-value"
                    type="text" 
                    placeholder="0.00"  
                    [(ngModel)]="boxValue" 
                    (blur)="emitPrices()"
                    (input)="onInputChange($event, 'box')"/>
            </h1>
            <h1>Tamanho: </h1>
            <h1>
                <input class="input-value" 
                    type="text"
                    placeholder="2,77mm²"
                    [(ngModel)]="boxValueMeasure" 
                    (blur)="emitMeasures()"
                    />
            </h1>
        </div>    
    
    </div>
    
   

</div>
