<div class="container">
  <mat-card class="result-card">
    <h2>Sub Categorias</h2>
    <app-bar></app-bar>
    <mat-chip-listbox aria-label="Subcategorias">
      @for (subCategory of subCategorys; track subCategory) {
        <mat-chip-option 
          class="custom-chip"
          (selectionChange)="onSubCategoryChange(subCategory, $event)">
          {{subCategory}}
        </mat-chip-option>
      }
    </mat-chip-listbox>
    
    <h2 *ngIf="priceRange">Faixa de Preco</h2>
    <app-bar class="bar" *ngIf="priceRange"></app-bar>
    <mat-card-content *ngIf="priceRange">    
      <div class="label-container" >
        <label id="name-label" class="name-label">Valor Inicial:</label>
        <label class="value-label">R$ {{priceRange.start}}</label>
        <label id="name-label" class="name-label">Valor Final:</label>
        <label class="value-label">R$ {{priceRange.end}}</label>
      </div>
      <mat-slider 
          class="slider"
          [min]="min" 
          [max]="max"
          [step]="step"
          (change)="onPriceRangeChange()">
          <input matSliderStartThumb [(ngModel)]="priceRange.start">
          <input matSliderEndThumb [(ngModel)]="priceRange.end">
      </mat-slider>
    </mat-card-content>
    
    <h2 *ngIf="installTypes">Instalacao</h2>
    <app-bar class="bar"  *ngIf="installTypes"></app-bar>
    <mat-chip-listbox aria-label="Tipos de instalação"  *ngIf="installTypes">
      @for (installType of installTypes; track installType) {
        <mat-chip-option 
          class="custom-chip"
          (selectionChange)="onInstallTypeChange(installType, $event)">
          {{installType}}
        </mat-chip-option>
      }
    </mat-chip-listbox>
    
    <h2 *ngIf="brands">Marcas</h2>
    <app-bar *ngIf="brands" class="bar"></app-bar>
    <mat-chip-listbox aria-label="Marcas" *ngIf="brands">
      @for (brand of brands; track brand) {
        <mat-chip-option 
          class="custom-chip"
          (selectionChange)="onBrandChange(brand, $event)">
          {{brand}}
        </mat-chip-option>
      }
    </mat-chip-listbox>
  </mat-card>
</div>