<div class="container">
    <div class="payment-card" 
         [class.selected]="selectedMethod === 'pix'"
         (click)="selectMethod('pix')">
        <div class="card-content">
            <img src="pix.png" alt="Pix">
            <h1>Pix</h1>
        </div>
    </div>

    <div class="payment-card" 
         [class.selected]="selectedMethod === 'credit'"
         (click)="selectMethod('credit')">
        <div class="card-content">
            <mat-icon class="credit-icon">credit_card</mat-icon>
            <h1>Crédito</h1>
        </div>
    </div>
</div>