<header>
    <div class="header-container">
        <div class="header">
            <div class="logo-menu">
                <button class="menu-hamburguer" (click)="toggleMobileMenu()">
                    <div class="menu-icon">
                        <span class="bar" [class.active]="mobileMenuOpen"></span>
                        <span class="bar" [class.active]="mobileMenuOpen"></span>
                        <span class="bar" [class.active]="mobileMenuOpen"></span>
                    </div>
                </button>
                <a [routerLink]="['/']">
                    <img class="logo-mobile" src="logo.png" alt="Logo">
                </a>
                <div class="icons-mobile">
                    <app-btn-icon [iconType]="'account_circle'" [routerLink]="['/client']"></app-btn-icon>
                    <app-btn-icon [iconType]="'shopping_cart'" [routerLink]="['/cart']" [notificationOp]="true"></app-btn-icon>
                </div>
            </div>
            <div class="search-container">
                <a [routerLink]="['/']">
                    <img class="logo" src="logo.png" alt="Logo">
                </a>
                <button class="search">
                    <mat-icon class="search-icon">search</mat-icon>
                </button>
                <input type="text" 
                    [formControl]="searchControl"
                    (focus)="onSearchFocus()"
                    (blur)="onSearchBlur()"
                    placeholder="Pesquisar...">
                <div class="icons">
                    <app-btn-icon [iconType]="'account_circle'" [routerLink]="['/client']"></app-btn-icon>
                    <app-btn-icon [iconType]="'shopping_cart'" [routerLink]="['/cart']" [notificationOp]="true" ></app-btn-icon>
                </div>      
            </div>
            
           
        </div>
    </div>
    <div class="nav-container">
        <div class="nav-items">
            <a class="nav-link" *ngFor="let item of navItems" [routerLink]="['/category']" [queryParams]="{ category: item.route }">
                {{ item.label }}
            </a>
        </div>
    </div>
    <!-- Overlay (fundo escuro) -->
        <div class="mobile-menu-overlay" 
            [class.active]="mobileMenuOpen" 
            (click)="toggleMobileMenu()"></div>
            <!-- Menu Mobile (sidebar) -->
            <div class="mobile-menu" [class.active]="mobileMenuOpen">
                <div class="mobile-nav-items">
                <a class="mobile-nav-link" 
                    *ngFor="let item of navItems" 
                    [routerLink]="['/category']" 
                    [queryParams]="{ category: item.route }"
                    (click)="toggleMobileMenu()">
                    {{ item.label }}
                </a>
            </div>
        </div>
</header>