<header>
    <div class="header-container">
        <div class="header">
            <div class="logo-menu">
                <button class="menu-hamburguer">☰</button> <!--menu hambúrguer -->
                <img src="logo.png" alt="Logo">
                <div class="icons-mobile">
                    <mat-icon class="account_icon">account_circle</mat-icon>
                    <mat-icon class="cart_icon">shopping_cart</mat-icon>
                </div>
            </div>
            <div class="search-container">
                <button class="search">
                    <mat-icon class="search-icon">search</mat-icon>
                </button>
                <input type="text" placeholder="Pesquisar...">
                <div class="icons">
                    <mat-icon class="account_icon">account_circle</mat-icon>
                    <mat-icon class="cart_icon">shopping_cart</mat-icon>
                </div>
               
            </div>
            
           
        </div>
    </div>
    <div class="nav-container">
        <div class="nav-items">
            <a class="nav-link" href="#">Piso</a>
            <a class="nav-link" href="#">Rodape</a>
            <a class="nav-link" href="#">Outros</a>
        </div>
    </div>
</header>