<div class="container">
    <div class="shiping-card"
        (click)="selectMethod('entrega')">
        <div class="card-content">
            <div class="top" *ngIf="deliveryPrice">
                <h1>Frete: R$ {{deliveryPrice}}</h1>
            </div>
            <div class="top" *ngIf="!deliveryPrice">
                <h1>Não conseguimos atender esse local por enquanto.</h1>
            </div>
            <div class="bottom">    
                <h1>Data de Entrega: Entraremos em contato</h1>    
          </div>
        </div>
    </div>
    
    <div class="shiping-card"
        (click)="selectMethod('retirada')">
        <div class="card-content">
            <h1>Retirada</h1>
        </div>
    </div>
</div>