<div class="container">
    <div class="subCategory-table">
        <app-subcategory-table [subCategories]="subCategories" (rowSelected)="handleSubCategorySelection($event)"  [resetSelection]="resetTableSelectionFlag"></app-subcategory-table>
    </div>
    <div class="subCategory">
        <button (click)="newSubCategory()">
            <h1>SubCategoria</h1>
            <mat-icon class="icon" style="margin-top: 5px;">add</mat-icon> 
        </button>
        <input [(ngModel)]="title" class="input-text" type="text" placeholder="Adicionar SubCategoria" value="{{ title }}" 
        [ngClass]="title"/>
        <button class="btn-save"
            (click)="saveSubCategory()">
            <mat-icon class="icon option">save</mat-icon>
        </button>
        <button class="btn-cancel"
            (click)="deleteSubCategory()">
            <mat-icon class="icon option">cleaning_services</mat-icon>
        </button>
    </div>  
    <div class="imgSub" *ngIf="this.selectedSubCategory && this.selectedSubCategory.banner_id !== ''">
        <app-banner-img 
            [inputWidth]="1200"
            [inputHeight]="240"
            [bannerTitle]="this.selectedSubCategory.title"
            [initialImage]="this.subCategoryBanner"
            (imageChanged)="handleBannerChange($event)">
        </app-banner-img>
    </div>

</div>