.card {
    display: grid;
    place-items: center;
    height: 140px;
    width: 140px;
    margin: 8px;
    border: 2px solid #010000;
    border-radius: 8px;
    background-color: rgb(190, 82, 16);
}

h3{
    text-align: center;
    justify-content: center
}