<div class="container">
    <div class="header">
        <h1>Clientes</h1>
        <mat-icon class="icon">group</mat-icon>
    </div>
    <div class="cards-data" *ngIf="cardData">
        <app-card-data icon="calendar_month" title="Total de Semana" data="{{ cardData[0].value }}" update="Atualizado em ({{timeUpdate}})"></app-card-data>
        <app-card-data icon="calendar_month" title="Total de Mes" data="{{ cardData[1].value }}" update="Atualizado em ({{timeUpdate}})"></app-card-data>
        <app-card-data icon="calendar_month" title="Total de Ano" data="{{ cardData[2].value }}" update="Atualizado em ({{timeUpdate}})"></app-card-data>
    </div>
    <div class="top">
        <app-bar-chart (buttonClick)="updateChart($event)" [width]="950" [height]="400" widthContainer="1000" title="Clientes" [data]="chartData"></app-bar-chart>
    </div>

    <div class="central-content" *ngIf="clientTable.length > 0">
        <app-client-info [client]="client" [clientTable]="clientTable" [detailTable]="detailTable"></app-client-info>
    </div>


</div>