<div class="container">
    <div class="header">
        <h1>Pedidos</h1>
        <mat-icon class="icon">pallet</mat-icon>
    </div>
    <div class="cards-data" *ngIf="orderChart">
        <app-card-data icon="hourglass_full" title="Pendentes" data="{{orderChart[0].value}}" update="Atualizado em ({{timeUpdate}})"></app-card-data>
        <app-card-data icon="sync" title="Processando" data="{{orderChart[2].value}}" update="Atualizado em ({{timeUpdate}})"></app-card-data>
        <app-card-data icon="person" title="Entregues" data="{{orderChart[2].value}}" update="Atualizado em ({{timeUpdate}})"></app-card-data>
        <app-card-data icon="person" title="Cancelados" data="{{orderChart[3].value}}" update="Atualizado em ({{timeUpdate}})"></app-card-data>
    </div>
    <div class="top">
        <app-order-chart [chartData]="orderChart" (buttonClick)="onChangeChart($event)"></app-order-chart>
        <app-order-table-resume [detailTable]="detailTable" title="Resumo de Pedidos" headerOne="PedidoId" headerTwo="Status" headerThree="Data"></app-order-table-resume>
    </div>
    <div class="product-search">
        <div class="centered-table" *ngIf="orders.length > 0">
            <app-order-table [detailTable]="orders" (rowSelected)="onRowSelectedOrder($event)"></app-order-table>

            <app-order-product-table *ngIf="detailProducts.length > 0" [detailProducts]="detailProducts" (rowSelected)="onRowSelectedProduct($event)"></app-order-product-table>
            <div class="details" *ngIf="client" >
                <app-order-product *ngIf="product" [productData]="product"></app-order-product>
                <app-order-client *ngIf="client" [client]="client"></app-order-client>
            </div>
            <h1 *ngIf="detailProducts.length > 0">Status do Pedido</h1>
            <div class="order-status" *ngIf="detailProducts.length > 0">
                <div class="history">
                    <h1>Historico</h1>
                    <app-order-table-resume [detailTable]="historyTable" headerOne="PedidoId" headerTwo="Status" headerThree="Data"></app-order-table-resume>
                </div>
                <app-order-status-update *ngIf="orderStatus" (savedOrder)="onUpdateOrderStatus($event)" [order]="orderStatus"></app-order-status-update>
            </div>        
        </div>
       
    </div>
   
</div>