<app-categorys-table [categorys]="categorys" (rowSelected)="onRowSelectedProduct($event)"></app-categorys-table>
<div class="optional-content" *ngIf="details">
    <div class="btn-options">
        <button (click)="handleButtonClick('add')">
            <h1>Adicionar</h1>
            <mat-icon class="icon">add</mat-icon> 
        </button>
        <button (click)="handleButtonClick('edit')">
            <h1>Editar</h1>
            <mat-icon class="icon">edit</mat-icon>
        </button>
    </div>
    <div class="content">
        <ng-container *ngIf="categoryInfo">
            <app-categorys-info [categoryInfo]="categoryInfo"></app-categorys-info>
        </ng-container>
    </div>
    
</div>