<section>
    <app-bar [title]="title"></app-bar>
    <div class="price-container">
        <div class="card">
            <div class="text">
                <h3>Pisos ate</h3>
                <p> R$ 50,00</p>
            </div>
            <div class="img-backgroud">
                <img src="price.png" alt="Imagem do Produto">
            </div>
        </div>
        
        <div class="card">
            <div class="text">
                <h3>Pisos ate</h3>
                <p> R$ 50,00</p>
            </div>
            <div class="img-backgroud">
                <img src="price.png" alt="Imagem do Produto">
            </div>
        </div>
        
        <div class="card">
            <div class="text">
                <h3>Pisos ate</h3>
                <p> R$ 50,00</p>
            </div>
            <div class="img-backgroud">
                <img src="price.png" alt="Imagem do Produto">
            </div>
        </div>
    </div>
</section>