section {
    width: 99%;
    background-color: bisque;
    color: white;
    background-image: url('../../../../public/promo.png');
}

.container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    height: 100%;
    padding: 0 ;
    box-sizing: border-box;
}

.page {
    display: flex;
    height: 100%;
}

.side-menu-container {
    width: 250px;
    flex-shrink: 0;
    background-color: #f4f4f4;
    height: 100%;
}

.content {
    flex-grow: 1;
    overflow-y: scroll;
    margin-bottom: 60px;
}

.section-title {
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 42px;
    font-weight: bold;
}

.section-btns {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 20%;   
}

.section-btns button {
    width: 100%;
    background-color: black;
    color: #f4f4f4;
    font-size: 24px;
    font-weight: bold;
    max-width: 200px;
    border: none;
    border-radius: 10px;
    padding: 10px;
}


@media (min-width: 1000px) {

    section {
        border-radius: 10px;
    }
    
    .content-top-moibile {
        display: none;
    }
    

    .content {
        padding-left: 20px;
    }
}


