<div class="container">
    <app-side-menu></app-side-menu>

    <div class="page">
        <section>
            <p>{{ category }}</p>
        </section>
    
        <app-sub-product [cardsCategory]="cardsCategory"></app-sub-product>
        <app-btn-call [title]=""></app-btn-call>
        <app-filter-price></app-filter-price>
        <app-brands [images]="imageList"></app-brands>
        <app-bar [title]="typeInstall"></app-bar>
        <app-sub-product [cardsCategory]="cardsInstall"></app-sub-product>
    
    </div>
</div>
