
<div class="order-card">
    <div class="field">
        <h1>Todos</h1>
        <div class="icon-container" (click)="onSubmit()">
            <mat-icon class="icon">pallet</mat-icon>
        </div>
    </div>
    <div class="field">
        <h1>A Caminho</h1>
        <div class="icon-container" (click)="onSubmit()">
            <mat-icon class="icon">local_shipping</mat-icon>
        </div>
    </div>
    <div class="field">
        <h1>Entregue</h1>
        <div class="icon-container" (click)="onSubmit()">
            <mat-icon class="icon">home</mat-icon>
        </div>
    </div>
  </div>