<div class="container">
    <div class="first img-solo">
        <img src="" alt="">
    </div>
    <div class="group">
        <div class="top">
            <div class="second img-group">
                <img src="" alt="">
            </div>
            <div class="three img-group">
                <img src="" alt="">
            </div>
        </div>
        <div class="bottom">
            <div class="four img-group">
                <img src="" alt="">
            </div>
            <div class="five img-group">
                <img src="" alt="">
            </div>
        </div>
    </div>

</div>