.container {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    margin: 10px;
}

button{
    width: 40%;
    height: 80px;
    background-color: black;
    border-radius: 10px;
    border: none;
}

p {
    color: white;
    font-size: 2vh;
    font-weight: bold;
}


@media (min-width: 1000px) {
    
    p {
        color: white;
        font-size: 30px;
        font-weight: bold;
    }

}
