<div class="container">
    <app-sidenav (buttonClick)="handleButtonClick($event)"></app-sidenav>
    <div class="diplay">
        <div class="content" *ngIf="contentToDisplay === 'dashboard'">
            <app-dashboard></app-dashboard>
        </div>
        <div class="content" *ngIf="contentToDisplay === 'orders'">
            <app-orders></app-orders>
        </div>
        <div class="content" *ngIf="contentToDisplay === 'products'">
            <app-products></app-products>
        </div>
    </div>
</div>
