<div class="confirm" *ngIf="!pixData">
    <app-bar [title]="'Confime o seu pedido'"></app-bar>
    <app-btn-confirm (click)="onConfirmFinally()"></app-btn-confirm>
</div>
<div class="container" *ngIf="pixData">
    <div class="pix" *ngIf="!paid">
         <div class="pix-details">
            <app-progress-bar (timerFinished)="handleTimerCompletion()"></app-progress-bar>
            <p><strong>ID do Pedido:</strong> {{ pixData.order_id }}</p>
        </div>
        <div class="bar-container">
            <img [src]="pixData.qr_code.links.png" 
                alt="QR Code PIX" 
                class="barcode-image">
        </div>
            <div class="pix-code" *ngIf="pixData.qr_code.links.text">
            <p><strong>Ou copie o código PIX:</strong></p>
            <div class="copy-section">
                <textarea readonly class="pix-text">{{ pixData.qr_code.links.text }}</textarea>
                <button (click)="copyPixCode()">Copiar Código</button>
            </div>
        </div>
    </div>
    <app-paid *ngIf="paid" [paidData]="paidData"></app-paid>
</div>