<div class="container">
    <div class="header">
        <h1>Dashboard</h1>
        <mat-icon class="icon">bar_chart</mat-icon>
    </div>
    <div class="cards-data">
        <app-card-data icon="home" title="Total de Vendas" data="2.456" update="Atualizado em (07:00 10/02/2025)"></app-card-data>
        <app-card-data icon="person" title="Total de Pedidos" data="2.456" update="Atualizado em (07:00 10/02/2025)"></app-card-data>
        <app-card-data icon="person" title="Total de Pedidos" data="2.456" update="Atualizado em (07:00 10/02/2025)"></app-card-data>
    </div>

    <div class="top">
        <app-bar-chart title="Clientes"></app-bar-chart>
        <app-bar-chart title="Vendas" color="#30de44b8"></app-bar-chart>
    </div>

    <div class="bottom">
        <app-order-chart></app-order-chart>
        <app-order-table-resume [detailTable]="detailTable" title="Resumo de Pedidos" headerOne="ID do Pedido" headerTwo="Status"></app-order-table-resume>
    </div>

</div>