.container {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 40px;
    max-width: 1200px;
    width: 100%;
    margin: auto;
    flex-wrap: wrap;
    box-sizing: border-box;
    height: 80vh;
}

.card {
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.322);
    padding: 20px;
    width: 100%;
    max-width: 500px;
    height: 140px;
    background-color: white;
    transition: background-color 0.3s ease, color 0.3s ease;
    text-align: center;
    cursor: pointer;
}

.card:hover {
    background-color: #000000;
    color: white;
}

.card h1 {
    margin: 0;
    font-size: 1.5rem;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 90%;
        height: 100px;
        margin: 0 auto;
        padding: 0;
    }
}
