<div class="page" *ngIf="isLoading">
  <div class="container">

    <app-carousel class="banner"></app-carousel>

    <!-- Cards Category Carousel -->
    <ng-container *ngIf="cardsCategory.length > 0; else categorySkeleton">
      <app-carousel-cards [cardsCategory]="cardsCategory"></app-carousel-cards>
      <app-bar [title]="'Recomendado'"></app-bar>
    </ng-container>

    <!-- Cards Product Carousel -->
    <ng-container *ngIf="cardsProduct.length > 0; else productSkeleton">
      <app-carousel-cards [cardsProduct]="cardsProduct"></app-carousel-cards>
    </ng-container>

    <app-topic [type]="'large'"></app-topic>

    <!-- Skeletons for Loading or Empty States -->
    <ng-template #categorySkeleton>
    <div class="skeleton-grid">
        <div class="skeleton-card" *ngFor="let item of [1, 2, 3, 4, 5]"></div>
    </div>
    <p class="info-message">Nenhuma categoria disponível no momento.</p>
    </ng-template>

    <ng-template #productSkeleton>
    <div class="skeleton-grid">
        <div class="skeleton-card" *ngFor="let item of [1, 2, 3, 4, 5]"></div>
    </div>
    <p class="info-message">Nenhum produto disponível no momento.</p>
    </ng-template>

  </div>
</div>
