.container {
    margin: 0;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f5f5f5;
    font-family: Arial, sans-serif;
}

.card {
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 90%;
    max-width: 800px;
    background-color: white;
    margin: auto;
    margin-bottom: 30px;
    margin-top: 30px;
}

.header {
    display: flex;
    justify-content: space-between;
    margin: auto;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: black;
}

.form-group {
    margin-bottom: 15px;
}

.error-message {
    color: #dc3545;
    font-size: 0.875rem;
    margin-top: 0.25rem;
}  

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: black;
}

input, select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

.name-fields {
    display: flex;
    gap: 15px;
}

.name-fields .form-group {
    flex: 1;
}

.doc-fields {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

.address-fields {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
}

button:hover {
    background-color: #000000;
    color: white
}

@media (max-width: 480px) {
    .name-fields {
        flex-direction: column;
        gap: 0;
    }

    .doc-fields {
        grid-template-columns: 1fr;
    } 

    .address-fields {
        grid-template-columns: 1fr;
    }
    .container {
        margin-bottom: 300px;
    }
    .card{
        height: 110vh;
        margin-bottom: 30px;
        margin-top: 30px;
    }
}