<div class="container">
    <div class="topic-table">
        <app-topic-table [topics]="topics" (rowSelected)="handleTopicSelection($event)"></app-topic-table>
    </div>
    <div class="topic">
        <button (click)="newTopic()">
            <h1>Topico</h1>
            <mat-icon class="icon" style="margin-top: 5px;">add</mat-icon> 
        </button>
        <input [(ngModel)]="title"  
        class="input-text" type="text" placeholder="Adicionar Topico" value="{{ title }}" />
        <button class="btn-save btn-option"
            (click)="saveTopic()">
            <mat-icon class="icon option">save</mat-icon>
        </button>
        <button class="btn-cancel btn-option"
            (click)="deleteTopic()">
            <mat-icon class="icon option">cleaning_services</mat-icon>
        </button>
    </div>
    <div class="category">
        <h1>Tipo: </h1>
        <div class="select-wrapper"  style="background-color: white;">
            <mat-select [(ngModel)]="selectedOption" (selectionChange)="onSelectChange($event.value)" panelClass="custom-panel-class"  style="background-color: white !important;">
                <mat-option value=1  style="background-color: white;">Carrousel</mat-option>
                <mat-option value=2  style="background-color: white;">Galeria</mat-option>
            </mat-select>
        </div>
    </div>
</div>