<div class="container">
    <div class="data" *ngIf="!paidData">
        <app-card (cardDataUpdate)="onUpdateInfo($event)" [cardData]="cardData"></app-card>
        <app-installment-table *ngIf="totalValue" (selectedInstallments)="selectedInstallment($event)" 
        [interestRate]="taxValue"
        [maxInstallments]="maxValue" 
        [interestStartInstallment]="minValue" 
        [totalValue]="totalValue"></app-installment-table>
        <div class="confirm">
            <app-bar [title]="'Confime o seu pedido'"></app-bar>
            <app-btn-confirm (click)="onConfirmFinally()"></app-btn-confirm>
        </div>
    </div>
    
    <app-paid [paidData]="paidData" [error]="error"></app-paid>
</div>