<div class="container">
    <div class="header">
        <h1>Vendas</h1>
        <mat-icon class="icon">payments</mat-icon>
    </div>
    <div class="cards-data" *ngIf="orderChart">
        <app-card-data icon="calendar_month" title="Total de Pendente" data="{{ orderChart[0].value }}" update="Atualizado em ({{ timeUpdate }})"></app-card-data>
        <app-card-data icon="calendar_month" title="Total de Processando" data="{{ orderChart[1].value }}" update="Atualizado em ({{ timeUpdate }})"></app-card-data>
        <app-card-data icon="calendar_month" title="Total de Concluidos" data="{{ orderChart[2].value }}" update="Atualizado em ({{ timeUpdate }})"></app-card-data>
    </div>
    <div class="top">
        <app-bar-chart (buttonClick)="updateChart($event)" [data]="chartData" [width]="950" [height]="400" widthContainer="1000" title="Vendas" color="#30de44b8"></app-bar-chart>
    </div>
    <div class="charts">
        <app-pie-chart [data]="pieChartData" (select)="updatePieChart($event)"></app-pie-chart>
        <app-order-chart [chartData]="orderChart" (buttonClick)="onChangeOrderChart($event)" [width]="250" [height]="200"></app-order-chart>
    </div>

    <div class="central-content" *ngIf="salesTable">
        <app-sales-info [salesTable]="salesTable"></app-sales-info>
    </div>
</div>