<div class="container">
    <div class="return">
        <app-btn-continue></app-btn-continue>
    </div>
    <div class="content">
        <div class="start">
            <div class="cart">
                <app-bar [title]="'No Carrinho ' + amount" [type]="'long'"></app-bar>
    
                @for (item of this.paymentData; track item; let i = $index) {
                    <app-cart-card 
                        [cart]="item"
                        [checked]="item.select"
                        [display]="true"
                        [config]="false"
                    ></app-cart-card>
                }
            </div>
        </div>
        <div class="mid">
            <div class="client" *ngIf="clientData">
                <app-bar class="bar" [title]="'Confirme seus dados'" [type]="'long'"></app-bar>
                <app-client-card [clientData]="clientData"></app-client-card>
            </div>
            <div class="method">
                <app-bar class="bar" [title]="'Método de pagamento'" [type]="'long'"></app-bar>
                <app-method-payment-card [setMethod]="paymentMethod"></app-method-payment-card>
            </div>
           <div class="method" *ngIf="opInstallations.length > 0">
                <app-bar class="bar" [title]="'Instalações'" [type]="'long'"></app-bar>
                <div class="topic-option" *ngFor="let install of opInstallations">
                    <label>
                        <input
                            type="checkbox"
                            class="topic-checkbox"
                            [value]="install"
                            (change)="onCheckboxChange(install)"
                        />
                        <span class="checkmark"></span>
                        <span class="option-text">{{ install.title }}</span>
                    </label>
                </div>
            </div>
            <div class="shipping">
                <app-bar [title]="'Método de entrega'" [type]="'long'"></app-bar>
                <app-method-shiping-card [deliveryPrice]="deliveryPrice" [deliveryMethod]="deliveryBool"></app-method-shiping-card>
            </div>
            <div class="subtotal">
                <app-bar [title]="'Resumo do pedido'" [type]="'long'"></app-bar>
                <div class="value-container">
                    <p>Produtos</p>
                    <p><strong>R$ {{ product_total }}</strong></p>
                </div>
                <div class="value-container" *ngIf="deliveryBool">
                    <p>Frete</p>
                    <p><strong>R$ {{this.deliveryPrice}}</strong></p>
                </div>
                <app-bar [type]="'long'"></app-bar>
                <div class="value-container">
                    <h3>Total</h3>
                    <h3><strong>R$ {{ totalPrice }}</strong></h3>
                </div>
                <app-bar [type]="'long'"></app-bar>
            </div>
        </div>
        <div class="end">
            <div [ngSwitch]="paymentMethod" class="payment-model"> 
        
                <app-pix *ngSwitchCase="'PIX'" [cartId]="cartId"></app-pix>
                
                <app-credit *ngSwitchCase="'CREDIT_CARD'" [totalValue]="total_value" [cartId]="cartId"></app-credit>

                <app-debit *ngSwitchCase="'DEBIT_CARD'" [totalValue]="total_value" [cartId]="cartId"></app-debit>

                <app-split *ngSwitchCase="'BOLETO'" [totalValue]="total_value" [cartId]="cartId"></app-split>
                
                <div *ngSwitchDefault>
                    <p>O método de pagamento selecionado não é suportado no momento.</p>
                </div>
                
            </div>
        </div>
        <app-whatsapp
            [defaultMessage]="'Olá, preciso de ajuda!'"
        ></app-whatsapp>
    </div>
</div>