.container {
    width: 100%;
    height: 180px;
    padding: 20px;
    background-color: black;
}

h1 {
    color: white;
    font-size: 28px;
    display: flex;
    justify-content: center;
    margin: 20px;
}

.redes {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.redes .icon {
    font-size: 30px;
}
