<div class="container">

    <h1>Nossas Redes</h1>
    <div class="redes">
        <div class="wpp icon">
            <a [href]="'https://wa.me/551143858177?text=Olá, gostaria de mais informações!'"
            class="whatsapp-float"
            target="_blank"
            rel="noopener noreferrer">
            <i class="fa-brands fa-whatsapp fa-xl" style="color: #ffffff;"></i></a>
        </div>
        <div class="insta icon">
            <a 
            [href]="'https://www.instagram.com/luxrevestimentos/'"></a>
            <i class="fa-brands fa-instagram fa-xl" style="color: #ffffff;"></i>
        </div>
        <div class="facebook icon">
            <a [href]="'https://www.facebook.com/luxrevestimentosoficial?locale=pt_BR'"></a>
            <i class="fa-brands fa-facebook fa-xl" style="color: #ffffff;"></i>
        </div>
    </div>
</div>
