<!-- <div class="container">
    <div class="header">
        <h1>Gerenciar</h1>
        <mat-icon class="icon">admin_panel_settings</mat-icon>
    </div>
    <div class="top">
        <app-manager-table [detailTable]="managers"></app-manager-table>
    </div>
    <div class="btn-options">
        <button (click)="handleButtonClick('add')">
            <h1>Adicionar</h1>
            <mat-icon class="icon">add</mat-icon> 
        </button>
        <button (click)="handleButtonClick('edit')">
            <h1>Editar</h1>
            <mat-icon class="icon">edit</mat-icon>
        </button>
    </div>
    <div class="bottom">
        <app-manager-card></app-manager-card>
    </div>
</div> -->