button {
    display: flex;
    justify-content: center;
    border: none;
    border-radius: 10px;
    color: white;
    background-color: black;
    padding: 0px 0px 0x 0;
    height: 45px;
}

.bar {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.arrow {
    padding: 10px 0 0 10px;
    height: 100%;
    font-size: 26px;
}

.container {
    height: 70px;
}